<div class="container">
    <br>
    <div class="row pull-right">
        <div style="margin-right: 20%;">
            <a (click)="onEditCloseItems()" class="text-info float-right">
                <i style="padding-right: 20%;" class="mdi mdi-{{isEditItems ? 'close' : 'pencil'}} mdi-18px">{{isEditItems
                    ? 'Close' : 'Edit'}}</i>
            </a>
        </div>
    </div>
    <div class="row">

        <table class="table table-striped table-bordered col-lg-8 col-lg-offset-1">
            <thead>
                <tr>
                    <th>Ledger
                    </th>
                    <th>
                        Debit
                    </th>
                    <th>Credit
                    </th>
                </tr>
            </thead>

            <tbody *ngIf="isEditItems">
                <tr>
                    <td *ngIf="firstField">
                        <select [(ngModel)]="Ledger" class="form-control py-2">
                            <option *ngFor="let Ledger of Ledgerlist" [ngValue]="Ledger.account">{{Ledger.account}}</option>
                        </select>
                    </td>
                    <td>
                        <input [(ngModel)]="Credit" class="form-control py-2 " type="number" name="Ledger" placeholder="Credit" appTwoDigitDecimaNumber>
                    </td>
                    <td>
                        <input [(ngModel)]="Debit" class="form-control py-2 " type="number" name="Ledger" placeholder="Debit" appTwoDigitDecimaNumber>
                    </td>
                </tr>

                <tr *ngFor="let field of resultdata; let i = index">
                    <td>
                        <input [(ngModel)]="field.Ledger" class="form-control" type="text" name="Ledger" placeholder="Ledger">
                    </td>
                    <td>
                        <input [(ngModel)]="field.Credit" class="form-control py-2 " type="number" placeholder=" Credit " appTwoDigitDecimaNumber>

                    </td>
                    <td>
                        <input [(ngModel)]="field.Debit " class="form-control py-2 " type="number " placeholder="Debit " appTwoDigitDecimaNumber>
                    </td>
                </tr>
                <tr>
                    <td align="right " colspan="3 ">
                        <button class="btn btn-success btn-sm " type="button " (click)="addFieldValue(Ledger,Credit,Debit)
                                " [disabled]="((!Credit!=0&&!Debit!=0))" style="margin-right:10px ">Add
                            More Item</button>
                        <button (click)="Savedata() " class="btn btn-primary btn-sm" type="button ">Save Items</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-lg-4 col-lg-offset-4 "> Total Sum (Credit {{creditsum}} + Debit {{debitsum}} ) :: {{creditsum+debitsum}}
</div>
<hr>

<div class="row">
    {{resultdata | json}} {{_Service.people$|async}}
</div>